---
# tasks file for ansible-role-package_update

- name: execute OS related tasks
  include_tasks: "{{ item }}"
  with_first_found:
    - 'update/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml'
    - 'update/{{ ansible_pkg_mgr }}.yml'
    - 'update/{{ ansible_distribution }}.yml'
    - 'update/{{ ansible_os_family }}.yml'
    - 'update/{{ ansible_os_family | replace ("/","_") | replace(" ","_") }}.yml'
