---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false
- name: Install aptitude
  ansible.builtin.apt:
    name: aptitude
    state: present
- name: Upgrade all
  ansible.builtin.apt:
    upgrade: dist
    autoclean: true
    autoremove: true
