- name: pkg update -f
  command: pkg update
  register: pkg_update_y
  changed_when: "pkg_update_y.rc != 0"
- name: verify if there are upgrades available
  command: pkg upgrade -n
  register: pkg_upgrade_n
  changed_when: "pkg_upgrade_n.rc != 0"
  failed_when: "pkg_upgrade_n.rc > 1"
- name: upgrade
  command: pkg upgrade -y
  when: "pkg_upgrade_n.rc != 0"
